@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
    *{
      margin: 0;
      padding: 0;
      border: 0;
    }
    body {
      background-color: rgb(102, 95, 106);
    }
    header{
      padding: 10px;
      border-bottom: 1px solid rgb(64, 64, 68);
      background-color: rgba(94, 94, 94, 0.871);
    }
    header{
      text-align: left;
      color: white;
      font-size: 30px;
      line-height: 30px;
      margin: 0 16px;
      text-decoration: none;
      font-family: "Orelega One", serif;
      font-weight: 400;
      font-style: normal;
    }
  #box {
    text-align: start;
    padding: 32px;
  }
  #box img {
    max-height: 200px;
    border-radius: 50%;
    border: 5px rgb(198, 194, 194);
    margin-bottom: 32px;
  }
  #lr {
    text-align: start;
    padding: 32px;
  }
  #lr img {
    max-height: 200px;
    border-radius: 50%;
    border: 5px rgb(198, 194, 194);
    margin-bottom: 32px;
  }
  div {
    width: 250px;
    height: 100px;
    display: inline-block;
  } 
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 100,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
    

